[Unit]
Description=Server confs service
After=v2ray.service

[Service]
ExecStart=/etc/server-confs.sh
Restart=on-failure

[Install]
WantedBy=default.target
