name: 'Publish Github Pages'

on:
  workflow_dispatch:
  push:
    branches:
     - master
  schedule:
    - cron: '0 0 */7 * *'

jobs:
  publish_github_pages:
    runs-on: ubuntu-latest
    timeout-minutes: 1500
    steps:
      - name: 'Checking'
        uses: actions/checkout@v3

      - name: 'Publish Github Pages'
        env:
          MY_SECRET: ${{secrets.commit_secret}}
          USER_NAME: goodffd
          USER_EMAIL: goodffd@gmail.com
          BUILD_DIR: ./build
          TERM: xterm
        run: |
          export TZ=Asia/Shanghai
          mkdir -p $BUILD_DIR
          chmod +x ./gfwlist2ros.sh && ./gfwlist2ros.sh && mv ./gfwlist_domain.rsc $BUILD_DIR
          chmod +x ./cnlist2ros.sh && ./cnlist2ros.sh && mv ./all_cn_cidr.rsc $BUILD_DIR
          chmod +x ./cnlist2ros.sh && ./cnlist2ros.sh && mv ./all_cn_ipv6.rsc $BUILD_DIR
          chmod +x ./gfwlist2smartdns.sh && ./gfwlist2smartdns.sh && mv ./gfwlist_domain.conf $BUILD_DIR
          chmod +x ./cnlist2smartdns.sh && ./cnlist2smartdns.sh && mv ./china_domain.conf $BUILD_DIR
          chmod +x ./nfaws2ros.sh && ./nfaws2ros.sh && mv ./nfaws.rsc $BUILD_DIR
          chmod +x ./netflix2ros.sh && ./netflix2ros.sh && mv ./netflix.rosL7 ./netflix.dns ./netflix.dnsv6 -t $BUILD_DIR
          chmod +x ./openai2ros.sh && ./openai2ros.sh && mv ./openai.rosL7 ./openai.dns -t $BUILD_DIR
          chmod +x ./disney2ros.sh && ./disney2ros.sh && mv ./Disney.list.rosL7 ./Disney.list.rosdns -t $BUILD_DIR
          chmod +x ./youtube2ros.sh && ./youtube2ros.sh && mv ./YouTube.list.rosL7 ./YouTube.list.rosdns -t $BUILD_DIR
          chmod +x ./uslist2ros.sh && ./uslist2ros.sh && mv ./all_us_cidr.rsc $BUILD_DIR
          chmod +x ./cndomain2ros.sh && ./cndomain2ros.sh && mv ./cndomain2ros.rsc $BUILD_DIR
          chmod +x ./cndomain.sh && ./cndomain.sh && mv ./cndomain.txt $BUILD_DIR
          DATE_TIME=$(date "+%Y-%m-%d %H:%M:%S")
          cd /tmp/
          git clone https://$MY_SECRET@github.com/$GITHUB_REPOSITORY.git --branch gh-pages --single-branch gh-pages > /dev/null 2>&1 || exit 1
          cd gh-pages || exit 1
          cp $GITHUB_WORKSPACE/$BUILD_DIR/* .
          sed -i "\$s/.*/<p>更新时间：$DATE_TIME<\/p><\/body><\/html>/" index.html
          git config --local user.name $USER_NAME
          git config --local user.email $USER_EMAIL
          git add -A
          git commit -a -m "Configuration Files Generated on [$DATE_TIME]"
          git push -fq origin gh-pages > /dev/null 2>&1 || exit 1
          echo -e "Uploaded files to gh-pages\n"

